@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Reset */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: blue;
}
/* END */

/* Custom General Classes */
.wp-100 {
   width: 100vw;
}

.w-70 {
   width: 70%;
}

.d-flex {
   display: flex;
}

.jf-center {
   justify-content: center;
}

.al-center {
   align-items: center;
}

.flex-jf-center {
   display: flex;
   justify-content: center;
}
/* END */

body {
   height: 100vh;
   font-family: Roboto, sans-serif;
}

.hero-container {
   background-color: rgb(0, 255, 136);
}

ul.d-flex {
   justify-content: space-between;
   align-items: baseline;
}

.nav-links li {
   margin: 12px;
}
