@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colorscheme */
:root {
 --primary-color: #1f2937;
 --secondary-color: #e5e7eb;
 --tertiary-color: #f9faf8;
}
/* END */

/* CSS Reset */
html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

ul {
   list-style-type: none;
}

a {
   text-decoration: none;
   color: blue;
}
/* END */

/* Custom General Classes */
.w-100 {
   width: 100%;
}

.w-70 {
   width: 70%;
}

.d-flex {
   display: flex;
}

.jf-center {
   justify-content: center;
}

.al-center {
   align-items: center;
}

.flex-jf-center {
   display: flex;
   justify-content: center;
}
/* END */

body {
   height: 100vh;
   font-family: Roboto, sans-serif;
}

.hero-container {
   background-color: var(--primary-color);
   padding-top: 1rem;
   padding-bottom: 8rem;
}

.navbar {
   margin-bottom: 16px;
}

.navbar > ul {
   justify-content: space-between;
   align-items: baseline;
}

.nav-logo a {
   font-size: 24px;
   color: var(--tertiary-color);
   font-weight: 900;
}

.nav-links li {
   margin: 12px;
}

.nav-links a,
.hero-text-container p {
   font-size: 18px;
   color: var(--secondary-color);
}

.content-container {
   flex-direction: column;
   gap: 5rem;
}

.hero-content-container {
   gap: 3rem;
}

.hero-text-container {
   flex: 1;
}

.hero-text-container > h1 {
   font-size: 48px;
   font-weight: 900;
   color: var(--tertiary-color);
}

.hero-text-container button {
   background-color: #3882f6;
   color: var(--tertiary-color);
   font-size: 1rem;
   font-weight: 900;
   border: none;
   border-radius: 8px;
   padding: 8px;
   margin-top: 10px;
   width: 40%;
}

.hero-container button:hover {
   cursor: pointer;
}

.hero-img-container {
   flex: 2;
   max-width: 700px;
}

.hero-img-container > img {
   width: 100%;
   height: 100%;
}